API_URL=https://test-feonone-api.idev.group/api/mobile
BASE_URL=https://test-feonone-api.idev.group
COOKIE_KEY=IDG_PAPA-FOOD_TOKEN
COOKIE_USERID_KEY=IDG_PAPA-FOOD_TOKEN_USER_ID
APP_URL=http://localhost:3000

#Google map API Key
GOOGLE_MAP_API_KEY="AIzaSyBo4BlPeTJDbVI3Kcl_MrsWilyTXhmkAYo"
